{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href='{% static "/css/home.css" %}'>
<body id="background" style="background-image: url('{% static "images/animes.jpg" %}');"></body>
<div class="jumbotron">
  <h1 class="display-4">Welcome to AnimesRUs!</h1>
  <p class="lead">Find Animes, Read Reviews, & Share Recommendations</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" a href="{% url 'anime_list' %}" role="button">Find an Anime</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button">Anime Reviews</a>
  </p>
  {% if user.is_authenticated %}
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button">Review an Anime</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" a href="{% url 'anime_new' %}" role="button">Recommend an Anime</a>
  </p>
  {% endif %}
</div>
{% endblock content %}