{% extends 'base.html' %}

{% block title %}Anime Reviews{% endblock title %}
{% load static %}
{% block content %}
<body id="background" style="background-image: url('{% static "images/animes.jpg" %}');"></body>
  {% for review in object_list %}
    <div class="card">
      <div class="detail-list">
        <h1>{{ review.anime_name}}</h1>
        <h4> {{review.review}}</h4>
        <h4>By: {{ review.author}}</h4>
      </div>
      <br>
      {% if user.is_authenticated %}
      <div class="wrapper" style="display: inline-block text-align: center position: absolute">
        <a href="{% url 'review_edit' review.pk %}" class="btn btn-info btn-lg" style="width: 10em">Edit Review</a>
        <a href="{% url 'review_delete' review.pk %}" class="btn btn-danger btn-lg" style="width: 10em">Delete Review</a>
      </div>   
      {% endif %}
    </div>
    <br />
  {% endfor %}
{% endblock content %}