{% extends 'base.html' %}

{% block content %}
<body id="background" style="background-color:rgb(226, 221, 155)"></body>
<div class="anime-entry">
  <h2>{{ anime.anime_name }}</h2>
  <p>Wiki Link: <a href="{{ anime.wiki_url }}" target="_blank" stretched-link>{{ anime.wiki_url}}</a></p>
  <p>Description: {{ anime.description }}</p>
  <p>Language Types: {{ anime.language_type }}</p>
  <p>Hulu: {{ anime.on_hulu }} | Netflix: {{ anime.on_netflix }} | Crunchyroll: {{ anime.on_crunchyroll }} | Funamation: {{ anime.on_funamation }}</p>
  <p>Last Updated On: {{ anime.last_updated }} by {{ anime.added_by}}</p>
  </div>
  <div class="card-footer">
    <span class="font-weight-bold">Reviews:</span>
    {% for review in anime.reviews.all %}
      <p>
        <span class="font-weight-bold">{{ review.author }} &middot;</span>
        {{ review }}
      </p>
    {% endfor %}
  </div>
  {% if user.is_superuser %}
  <p><a href="{% url 'anime_edit' anime.pk %}">Edit Anime</a> | <a href="{% url 'anime_delete' anime.pk %}">Delete Anime</a> | <a href="{% url 'review_new' %}">Write Review</a> </p>
  {% else %}
  <p><a href="{% url 'review_new' %}">Write Review</a> </p>
  {% endif %}
  <p>Back to <a href="{% url 'anime_list' %}">Anime List</a>.</p>
{% endblock content %}
